.digits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* the improvments say this is redundant but when I remove it it messes up the layout of the page where should it be instead? */
    margin: 100px 0 100px 0;
    padding: 0;
}
