.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0;
}

/*
.footer__column_content_info {
    display: flex;
    flex-direction: column;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
}

in the suggestion it said I could control the flex and direction in .footer__column and I did but now I don't see what use these classes were supposed to have at all?
*/
