@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
    position: relative;
    top: 60px;
}
