.table_theme_dark {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.table__heading_theme_dark {
    color: #f2f2f2;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
